//-
//    var articles={
//    article1: {
//    title:'Самое важное в SASS',
//    date:'15 февраля 2017',
//    content:[
//    'Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.',
//    'Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.'
//    ]
//    },
//    article2: {
//    title:'Почему я выбрал Pug',
//    date:'10 февраля 2017',
//    content:[
//    'Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.',
//    'Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.'
//    ]
//    },
//    article3: {
//    title:'Особенности Webpack',
//    date:'21 января 2017',
//    content:[
//    'Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.',
//    'Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.'
//    ]
//    }
//    }

section.l-section.l-blog(id="section2")
    svg(viewBox="0 0 2000 110" preserveAspectRatio="none").c-section__triangle.c-section__triangle_color_beiger
        polygon(points="0,0 1000,110 2000,0 2000,110 0,110")
    .c-blog
        aside.c-blog-sidebar
            ul.c-blog-sidebar__list
                each article, index in articles
                        -
                            var className = ''
                            if (index == '0')
                                className='c-blog-sidebar__item active'
                            else
                                className='c-blog-sidebar__item'
                        li(class = className)
                            a.c-blog-sidebar__link(href=`#article${index}`) #{article.title}
            .c-blog-sidebar__button
                svg.c-blog-sidebar__icon( viewBox="0 0 8 40")
                    circle(cx='-22.5' cy='20' r='30')
        .c-articles
            ul.c-articles__list
                each article, index in articles
                    li.c-article(data-id=`article${index}`)
                        .c-article__title.c-block-title.c-block-title_pure #{article.title}
                        .c-article__date #{article.date}
                        .c-article__content.c-block-text
                            each paragraph in article.content
                                p #{paragraph}
    include ../../components/_footer